@{
    ViewData["Title"] = "Confirmacion de email";
}

<h2>@ViewData["Title"]</h2>

<div class="text-center">
   
    <p>
        Gracias por confirmar el email, ahora puede iniciar sesion en el sistema.
    </p>
</div>